{% include header.html %}

<!-- HEADER -->
<header>
  <div class="inner">
    <h1>CoderDojo Japan</h1>
    <h2>小・中学生のための<br />プログラミング道場</h2>
    <a href="https://github.com/coderdojo-japan" class="button"><small>Follow me on</small> GitHub</a>
  </div>
</header>

<!-- MAIN CONTENT -->
<div id="content-wrapper">
  <div class="inner clearfix">
    <section id="main-content">
      {{ content }}
    </section>
  </div>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p>
      Copyright &copy; 2015 CoderDojo Japan All Rights Reserved.
    </p>
  </footer>
</div>

{% include footer.html %}
